@font-face {
	font-family: 'FontAwesome';
	src:url('FontAwesome-659.arb.eot') format('embedded-opentype'),
		url('FontAwesome-7aa.arb.woff') format('woff'),
		url('FontAwesome-e64.arb.ttf')  format('truetype'),
		url('FontAwesome.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
